In [29]:
'''
Python supports 2 types of iterative statements. 
 
1. for loop -
        Syntax: 
 
    for x in sequence : 
    #code
2 . while loop
'''
name="Khushi Navik"   
for x in name :   
    print(x)

K
h
u
s
h
i

N
a
v
i
k

In [30]:
'''
range()
parameters:start=1, stop=100, and step=1
'''

nums = tuple(range(1,100,9))
print(nums)

(1, 10, 19, 28, 37, 46, 55, 64, 73, 82, 91)

In [ ]:
'''
Nested Loops: 
for outer_variable in range(...):
    for inner_variable in range(...):
        # code to execute

'''
for i in range(1,3):
    for j in range(3,6):
        print(f'{i},{j}')

1,3
1,4
1,5
2,3
2,4
2,5

In [32]:
for i in range(1, 6):          # table number
    print(f"\nTable of {i}")
    for j in range(1, 11):     # multiplier
        print(f"{i} x {j} = {i * j}")

Table of 1
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

Table of 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

Table of 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

Table of 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

Table of 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50