In [47]:
name = 'A'
age = 21
height = 4.5
print('NAme,age,height :'+name,age,height)
#rules delcare
#_name✅
#1name❌
#n1ame✅
#no special character

NAme,age,height :A 21 4.5

In [48]:
#Datatypes
#Numeric type
#int - whole numbers 100 200 -100
#float - decimal numbers 1.145 -10.55
#complex - real & imaginary part a+bj 3+4j
#boolean - True or False
#None 


a = 10
b = 10.20
c = 3+4j
print(type(a))
print(type(b))
print(type(c))
is_raining = True
is_sunny = False
print(is_raining, is_sunny)
print(type(is_raining))
result = None
print(result)

<class 'int'>
<class 'float'>
<class 'complex'>
True False
<class 'bool'>
None

In [ ]:
'''
sequences datatype
1- string(immutable)
2- list(mutable),[]
3- tuple(immutable),()
4 - set(mutable),{}
5 - frozenset(immutable)
6 - Dictionary: key:val,key1;val2|{}
'''
my_string="my name is khushi"
print(my_string)

my_list = [1,2,3,'k',5,111,7,8,9,10]
print(my_list)

my_tuple = (1,2,3,'k',5,6,7,'m',9,10)

print(my_tuple)

my_set = {1, 2, 3, 10, 1, 1, 7, 9, 9, 10}
print(my_set)

immutable_set = frozenset( [1,2,3,3,4,4])
print(immutable_set)

my_dict = {
    'name': 'khushi', 'age': 21, 'height': 4.5
    ,'is_student': True
    ,'grades': [90, 85, 88, 92]
    ,'address': {'city': 'New York', 'country': 'USA'}
}
print(my_dict)

my name is khushi
[1, 2, 3, 'k', 5, 111, 7, 8, 9, 10]
(1, 2, 3, 'k', 5, 6, 7, 'm', 9, 10)
{1, 2, 3, 7, 9, 10}
frozenset({1, 2, 3, 4})
{'name': 'khushi', 'age': 21, 'height': 4.5, 'is_student': True, 'grades': [90, 85, 88, 92], 'address': {'city': 'New York', 'country': 'USA'}}